openuserstatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Dansk Bibliotekscenter A/S (Dansk Bibliotekscenter A/S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ous="http://oss.dbc.dk/ns/openuserstatus" targetNamespace="http://oss.dbc.dk/ns/openuserstatus" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>This XML schema describes the structure and data of the Open User Status webservice</xs:documentation>
	</xs:annotation>
	<xs:element name="getUserStatusRequest">
		<xs:annotation>
			<xs:documentation>The service request for user's loans and orders</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:serviceRequester"/>
				<xs:element ref="ous:userId"/>
				<xs:element ref="ous:userPincode" minOccurs="0"/>
				<xs:element ref="ous:agencyId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUserStatusResponse">
		<xs:annotation>
			<xs:documentation>The service response returning IDs and parameters of user's loans and orders</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="ous:userId"/>
					<xs:element ref="ous:userStatus"/>
				</xs:sequence>
				<xs:element ref="ous:getUserStatusError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="renewLoanRequest">
		<xs:annotation>
			<xs:documentation>The service request for renewal of one or more loans</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:serviceRequester"/>
				<xs:element ref="ous:userId"/>
				<xs:element ref="ous:userPincode" minOccurs="0"/>
				<xs:element ref="ous:agencyId"/>
				<xs:element ref="ous:loanId" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="renewLoanResponse">
		<xs:annotation>
			<xs:documentation>The service response returning renewal status for each loan or an error</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ous:renewLoanStatus" maxOccurs="unbounded"/>
				<xs:element ref="ous:renewLoanError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelOrderRequest">
		<xs:annotation>
			<xs:documentation>The service request for cancellation of one or more orders</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:serviceRequester"/>
				<xs:element ref="ous:userId"/>
				<xs:element ref="ous:userPincode" minOccurs="0"/>
				<xs:element ref="ous:agencyId"/>
				<xs:element ref="ous:cancelOrder" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelOrderResponse">
		<xs:annotation>
			<xs:documentation>The service response returning a confirmation of cancellation or an error</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ous:cancelOrderStatus" maxOccurs="unbounded"/>
				<xs:element ref="ous:cancelOrderError"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="loan">
		<xs:annotation>
			<xs:documentation>Details about a loan</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:loanId"/>
				<xs:group ref="ous:bibliographicInfo"/>
				<xs:element ref="ous:dateDue"/>
				<xs:element ref="ous:reminderLevel" minOccurs="0"/>
				<xs:element ref="ous:loanRecallDate" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="order">
		<xs:annotation>
			<xs:documentation>Details about an order</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:orderId"/>
				<xs:group ref="ous:bibliographicInfo"/>
				<xs:element ref="ous:orderStatus"/>
				<xs:element ref="ous:orderDate"/>
				<xs:element ref="ous:orderType"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="ous:dateAvailable" minOccurs="0"/>
						<xs:element ref="ous:holdQueuePosition"/>
						<xs:element ref="ous:needBeforeDate" minOccurs="0"/>
						<xs:element ref="ous:orderExpiryDate" minOccurs="0"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="ous:pickupDate" minOccurs="0"/>
						<xs:element ref="ous:pickupExpiryDate" minOccurs="0"/>
						<xs:element ref="ous:reminderLevel" minOccurs="0"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="loanedItems">
		<xs:annotation>
			<xs:documentation>Loans and loans count</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:loansCount" minOccurs="0"/>
				<xs:element ref="ous:loan" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderedItems">
		<xs:annotation>
			<xs:documentation>Orders and order counts</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:ordersCount" minOccurs="0"/>
				<xs:element ref="ous:order" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userStatus">
		<xs:annotation>
			<xs:documentation>User status (loan and order)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:loanedItems" minOccurs="0"/>
				<xs:element ref="ous:orderedItems" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="renewLoanStatus">
		<xs:annotation>
			<xs:documentation>Details about a renewd loan, returning either a dateDue, dateOfExpectedDelievery og renewLoanError </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:loanId"/>
				<xs:choice>
					<xs:element ref="ous:dateDue"/>
					<xs:element ref="ous:dateOfExpectedReply"/>
					<xs:element ref="ous:renewLoanError"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelOrder">
		<xs:annotation>
			<xs:documentation>Parameters for an order to be cancelled</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:orderId"/>
				<xs:element ref="ous:orderType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelOrderStatus">
		<xs:annotation>
			<xs:documentation>Details about a cancelled order (via cancelOrderResponse - returning either orderCancelled or cancelOrderError for each orderId)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:orderId"/>
				<xs:choice>
					<xs:element ref="ous:orderCancelled"/>
					<xs:element ref="ous:cancelOrderError"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUserStatusError" type="ous:getUserStatusErrorType">
		<xs:annotation>
			<xs:documentation>Messages returned by the service if it cannot get user status</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="renewLoanError" type="ous:renewLoanErrorType">
		<xs:annotation>
			<xs:documentation>Messages returned by the service if a loan cannot be renewed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cancelOrderError" type="ous:cancelOrderErrorType">
		<xs:annotation>
			<xs:documentation>Messages returned by the service if an order cannot be cancelled</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="agencyId" type="xs:string">
		<xs:annotation>
			<xs:documentation>Identifier of user's library</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dateAvailable" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Expected date for ordered item to be available</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dateDue" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Return date for a loan</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dateOfExpectedReply" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Expected date of reply whether a loan can be renewed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="holdQueuePosition" type="xs:integer">
		<xs:annotation>
			<xs:documentation>An order's position in the queue</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanId" type="xs:string">
		<xs:annotation>
			<xs:documentation>Identifier of a loan</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanRecallDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date when a loan has been recalled</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loansCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number of user's loans</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="needBeforeDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>User's last day of interest in an ordered item</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderCancelled" type="xs:string">
		<xs:annotation>
			<xs:documentation>Parameter that confirms that a given order has been cancelled</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderId" type="xs:string">
		<xs:annotation>
			<xs:documentation>Identifier of an order</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date when order was placed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderExpiryDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date on which an order expires</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderStatus" type="ous:orderStatusType">
		<xs:annotation>
			<xs:documentation>State of a given order (in process, ready for pickup or expired)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderType" type="xs:string">
		<xs:annotation>
			<xs:documentation>Type of order returned from getUserStatus and used in cancelOrderRequest</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ordersCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number of user's orders</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pickupDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date from which an order can be picked up</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pickupExpiryDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Last date an order can be picked up</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="reminderLevel" type="xs:integer">
		<xs:annotation>
			<xs:documentation>The number of times a reminder for a given item (loan or order) has been sent</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="serviceRequester" type="xs:string">
		<xs:annotation>
			<xs:documentation>Identifier of the ageny using the service</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userId" type="xs:string">
		<xs:annotation>
			<xs:documentation>Identifier of user in local library system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPincode" type="xs:integer">
		<xs:annotation>
			<xs:documentation>User's pincode in local library system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="author" type="xs:string"/>
	<xs:element name="authorOfComponent" type="xs:string"/>
	<xs:element name="bibliographicItemId" type="xs:string"/>
	<xs:element name="bibliographicLevel" type="xs:string"/>
	<xs:element name="bibliographicRecordId" type="xs:string"/>
	<xs:element name="componentId" type="xs:string"/>
	<xs:element name="edition" type="xs:string"/>
	<xs:element name="electronicDataFormatType" type="xs:string"/>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="mediumType" type="xs:string"/>
	<xs:element name="pagination" type="xs:string"/>
	<xs:element name="placeOfPublication" type="xs:string"/>
	<xs:element name="publicationDate" type="xs:string"/>
	<xs:element name="publicationDateOfComponent" type="xs:string"/>
	<xs:element name="publisher" type="xs:string"/>
	<xs:element name="seriesTitleNumber" type="xs:string"/>
	<xs:element name="sponsoringBody" type="xs:string"/>
	<xs:element name="titleOfComponent" type="xs:string"/>
	<xs:element name="title" type="xs:string"/>
	<xs:group name="bibliographicInfo">
		<xs:annotation>
			<xs:documentation>Group of elements containing bibliographic information about an item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ous:author" minOccurs="0"/>
			<xs:element ref="ous:authorOfComponent" minOccurs="0"/>
			<xs:element ref="ous:bibliographicItemId" minOccurs="0"/>
			<xs:element ref="ous:bibliographicRecordId" minOccurs="0"/>
			<xs:element ref="ous:componentId" minOccurs="0"/>
			<xs:element ref="ous:edition" minOccurs="0"/>
			<xs:element ref="ous:pagination" minOccurs="0"/>
			<xs:element ref="ous:placeOfPublication" minOccurs="0"/>
			<xs:element ref="ous:publicationDateOfComponent" minOccurs="0"/>
			<xs:element ref="ous:publisher" minOccurs="0"/>
			<xs:element ref="ous:seriesTitleNumber" minOccurs="0"/>
			<xs:element ref="ous:titleOfComponent" minOccurs="0"/>
			<xs:element ref="ous:bibliographicLevel" minOccurs="0"/>
			<xs:element ref="ous:sponsoringBody" minOccurs="0"/>
			<xs:element ref="ous:electronicDataFormatType" minOccurs="0"/>
			<xs:element ref="ous:language" minOccurs="0"/>
			<xs:element ref="ous:mediumType" minOccurs="0"/>
			<xs:element ref="ous:publicationDate" minOccurs="0"/>
			<xs:element ref="ous:title" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="getUserStatusErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Element rule violated"/>
			<xs:enumeration value="Unknown user"/>
			<xs:enumeration value="User access denied"/>
			<xs:enumeration value="User authentification failed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="renewLoanErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown user"/>
			<xs:enumeration value="User authentification failed"/>
			<xs:enumeration value="User blocked"/>
			<xs:enumeration value="Unknown item"/>
			<xs:enumeration value="Item not checked out"/>
			<xs:enumeration value="Item not renewable"/>
			<xs:enumeration value="Maximum renewals exceeded"/>
			<xs:enumeration value="Renewal not allowed - item has outstanding requests"/>
			<xs:enumeration value="User inegible to remove this item"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cancelOrderErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Element rule violated"/>
			<xs:enumeration value="Unknown user"/>
			<xs:enumeration value="User access denied"/>
			<xs:enumeration value="User authentification failed"/>
			<xs:enumeration value="Unknown order"/>
			<xs:enumeration value="Request already processed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="in process"/>
			<xs:enumeration value="available for pickup"/>
			<xs:enumeration value="expired"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
