openuserstatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Dansk Bibliotekscenter A/S (Dansk Bibliotekscenter A/S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ous="http://oss.dbc.dk/ns/openuserstatus" targetNamespace="http://oss.dbc.dk/ns/openuserstatus" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">This XML schema describes the structure and data of the Open User Status webservice</xs:documentation>
	</xs:annotation>
	<xs:element name="getUserStatusRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for user's loans and orders</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:agencyId"/>
				<xs:element ref="ous:authentication" minOccurs="0"/>
				<xs:element ref="ous:callback" minOccurs="0"/>
				<xs:element ref="ous:outputType" minOccurs="0"/>
				<xs:element ref="ous:userId"/>
				<xs:element ref="ous:userPincode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUserStatusResponse">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service response returning IDs and parameters of user's loans and orders</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ous:getUserStatusError"/>
				<xs:sequence>
					<xs:element ref="ous:userId"/>
					<xs:element ref="ous:userStatus"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="renewLoanRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for renewal of one or more loans</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:agencyId"/>
				<xs:element ref="ous:authentication" minOccurs="0"/>
				<xs:element ref="ous:callback" minOccurs="0"/>
				<xs:element ref="ous:loanId" maxOccurs="unbounded"/>
				<xs:element ref="ous:outputType" minOccurs="0"/>
				<xs:element ref="ous:userId"/>
				<xs:element ref="ous:userPincode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="renewLoanResponse">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service response returning renewal status for each loan or an error</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ous:renewLoanError"/>
				<xs:element ref="ous:renewLoanStatus" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelOrderRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for cancellation of one or more orders</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:agencyId"/>
				<xs:element ref="ous:authentication" minOccurs="0"/>
				<xs:element ref="ous:callback" minOccurs="0"/>
				<xs:element ref="ous:cancelOrder" maxOccurs="unbounded"/>
				<xs:element ref="ous:outputType" minOccurs="0"/>
				<xs:element ref="ous:userId"/>
				<xs:element ref="ous:userPincode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelOrderResponse">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service response returning a confirmation of cancellation or an error</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ous:cancelOrderError"/>
				<xs:element ref="ous:cancelOrderStatus" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateOrderRequest">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service request for cancellation of one or more orders</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:agencyId"/>
				<xs:element ref="ous:authentication" minOccurs="0"/>
				<xs:element ref="ous:callback" minOccurs="0"/>
				<xs:element ref="ous:updateOrder" maxOccurs="unbounded"/>
				<xs:element ref="ous:outputType" minOccurs="0"/>
				<xs:element ref="ous:userId"/>
				<xs:element ref="ous:userPincode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateOrderResponse">
		<xs:annotation>
			<xs:documentation xml:lang="en">The service response returning a confirmation of cancellation or an error</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ous:updateOrderError"/>
				<xs:element ref="ous:updateOrderStatus" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyId" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of user's library</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="authentication">
		<xs:annotation>
			<xs:documentation xml:lang="en">Parameters used for authentication purposes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:groupIdAut"/>
				<xs:element ref="ous:passwordAut"/>
				<xs:element ref="ous:userIdAut"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="author" type="xs:string"/>
	<xs:element name="authorOfComponent" type="xs:string"/>
	<xs:element name="bibliographicItemId" type="xs:string"/>
	<xs:element name="bibliographicLevel" type="xs:string"/>
	<xs:element name="bibliographicRecordId" type="xs:string"/>
	<xs:element name="callback" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">If outputType=json.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cancelOrder">
		<xs:annotation>
			<xs:documentation xml:lang="en">Parameters for an order to be cancelled</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:orderId"/>
				<xs:element ref="ous:orderType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cancelOrderError" type="ous:cancelOrderErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Messages returned by the service if an order cannot be cancelled</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="cancelOrderStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about a cancelled order (via cancelOrderResponse - returning either orderCancelled or cancelOrderError for each orderId)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:orderId"/>
				<xs:choice>
					<xs:element ref="ous:orderCancelled"/>
					<xs:element ref="ous:cancelOrderError"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="componentId" type="xs:string"/>
	<xs:element name="dateAvailable" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">Expected date for ordered item to be available</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dateDue" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">Last return date for a loan</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="dateOfExpectedReply" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">Expected date of reply whether a loan can be renewed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="edition" type="xs:string"/>
	<xs:element name="electronicDataFormatType" type="xs:string"/>
	<xs:element name="fiscalAccount">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about fees, penalties etc. owed by the user</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:fiscalTransaction" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ous:totalAmount" minOccurs="0"/>
				<xs:element ref="ous:totalAmountCurrency" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fiscalTransaction">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about each fee, penalty etc. owed by the user</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:fiscalTransactionAmount"/>
				<xs:element ref="ous:fiscalTransactionCurrency"/>
				<xs:element ref="ous:fiscalTransactionDate"/>
				<xs:element ref="ous:fiscalTransactionType"/>
				<xs:element ref="ous:bibliographicRecordId" minOccurs="0"/>
				<xs:element ref="ous:author" minOccurs="0"/>
				<xs:element ref="ous:title" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fiscalTransactionAmount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Amount of transaction</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fiscalTransactionCurrency" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Currency used in fiscalTransactionAmount</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fiscalTransactionDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date that fiscalTransaction is created in the system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="fiscalTransactionType" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type of payment (Fine, Book Replacement Charge etc.). Content corresponds to UserTranscationType in NCIP</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="getUserStatusError" type="ous:getUserStatusErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Messages returned by the service if it cannot get user status</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="groupIdAut" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of the group (most often a library number) the user belongs to (for authentication purposes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="holdQueuePosition" type="xs:positiveInteger">
		<xs:annotation>
			<xs:documentation xml:lang="en">An order's position in the queue</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="language" type="xs:string"/>
	<xs:element name="loan">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about a loan</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="ous:bibliographicInfo"/>
				<xs:element ref="ous:dateDue"/>
				<xs:element ref="ous:loanId"/>
				<xs:element ref="ous:loanRecallDate" minOccurs="0"/>
				<xs:element ref="ous:reminderLevel" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="loanedItems">
		<xs:annotation>
			<xs:documentation xml:lang="en">Loans and loans count</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:loan" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ous:loansCount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="loanId" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of a loan</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loanRecallDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date when a loan has been recalled</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="loansCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of user's loans</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="mediumType" type="xs:string"/>
	<xs:element name="needBeforeDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's last day of interest in an ordered item</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="order">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about an order</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="ous:bibliographicInfo"/>
				<xs:element ref="ous:orderDate"/>
				<xs:element ref="ous:orderId"/>
				<xs:element ref="ous:orderStatus"/>
				<xs:element ref="ous:orderType"/>
				<xs:element ref="ous:dateAvailable" minOccurs="0"/>
				<xs:element ref="ous:holdQueuePosition" minOccurs="0"/>
				<xs:element ref="ous:needBeforeDate" minOccurs="0"/>
				<xs:element ref="ous:orderExpiryDate" minOccurs="0"/>
				<xs:element ref="ous:pickUpDate" minOccurs="0"/>
				<xs:element ref="ous:pickUpExpiryDate" minOccurs="0"/>
				<xs:element ref="ous:pickUpId" minOccurs="0"/>
				<xs:element ref="ous:pickUpAgency" minOccurs="0"/>
				<xs:element ref="ous:pickUpAgencySubdivision" minOccurs="0"/>
				<xs:element ref="ous:reminderLevel" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderedItems">
		<xs:annotation>
			<xs:documentation xml:lang="en">Orders and order counts</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:order" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ous:ordersCount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="orderCancelled" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Parameter that confirms that a given order has been cancelled</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderId" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of an order</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date when order was placed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderExpiryDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date on which an order expires</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderStatus" type="ous:orderStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">State of a given order (in process, ready for pickup or expired)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderType" type="ous:orderTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type of order returned from getUserStatus and used in cancelOrderRequest</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ordersCount" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">Number of user's orders</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="orderUpdated" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Parameter that confirms that a given order has been updated</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="outputType" type="ous:outputTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">E.g. xml, json or php.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pagination" type="xs:string"/>
	<xs:element name="passwordAut" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Password (for authentication purposes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pickUpAgency" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">The agency where the material is to be picked up</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pickUpAgencySubdivision" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Subdivison of the agency where the material is to be picked up</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pickUpDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date from which an order can be picked up</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pickUpExpiryDate" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation xml:lang="en">Last date an order can be picked up</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pickUpId" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Pick up id of the material at the pickUpAgency</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="placeOfPublication" type="xs:string"/>
	<xs:element name="publicationDate" type="xs:string"/>
	<xs:element name="publicationDateOfComponent" type="xs:string"/>
	<xs:element name="publisher" type="xs:string"/>
	<xs:element name="reminderLevel" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">The number of times a reminder for a given item (loan or order) has been sent (c means compensation)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="renewLoanError" type="ous:renewLoanErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Messages returned by the service if a loan cannot be renewed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="renewLoanStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about a renewed loan</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:loanId"/>
				<xs:choice>
					<xs:element ref="ous:dateDue" minOccurs="0"/>
					<xs:element ref="ous:dateOfExpectedReply" minOccurs="0"/>
					<xs:element ref="ous:renewLoanError" minOccurs="0"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="seriesTitleNumber" type="xs:string"/>
	<xs:element name="sponsoringBody" type="xs:string"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="titleOfComponent" type="xs:string"/>
	<xs:element name="totalAmount" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Total amount (fees, replacement charges etc.) owed by user</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="totalAmountCurrency" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Currency used for totalAmount</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateOrder">
		<xs:annotation>
			<xs:documentation xml:lang="en">Parameters for an order to be updated</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:orderId"/>
				<xs:element ref="ous:pickUpAgency"/>
				<xs:element ref="ous:pickUpAgencySubdivision" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateOrderError" type="ous:cancelOrderErrorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Messages returned by the service if an order cannot be cancelled</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="updateOrderStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">Details about a updated order</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:orderId"/>
				<xs:choice>
					<xs:element ref="ous:orderUpdated"/>
					<xs:element ref="ous:updateOrderError"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="userId" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifier of user in local library system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userIdAut" type="xs:string">
		<xs:annotation>
			<xs:documentation xml:lang="en">User identifier (for authentication purposes)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userPincode" type="xs:integer">
		<xs:annotation>
			<xs:documentation xml:lang="en">User's pincode in local library system</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="userStatus">
		<xs:annotation>
			<xs:documentation xml:lang="en">User status (loan and order)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ous:loanedItems" minOccurs="0"/>
				<xs:element ref="ous:orderedItems" minOccurs="0"/>
				<xs:element ref="ous:fiscalAccount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:group name="bibliographicInfo">
		<xs:annotation>
			<xs:documentation xml:lang="en">Group of elements containing bibliographic information about an item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ous:author" minOccurs="0"/>
			<xs:element ref="ous:authorOfComponent" minOccurs="0"/>
			<xs:element ref="ous:bibliographicItemId" minOccurs="0"/>
			<xs:element ref="ous:bibliographicRecordId" minOccurs="0"/>
			<xs:element ref="ous:componentId" minOccurs="0"/>
			<xs:element ref="ous:edition" minOccurs="0"/>
			<xs:element ref="ous:pagination" minOccurs="0"/>
			<xs:element ref="ous:placeOfPublication" minOccurs="0"/>
			<xs:element ref="ous:publicationDateOfComponent" minOccurs="0"/>
			<xs:element ref="ous:publisher" minOccurs="0"/>
			<xs:element ref="ous:seriesTitleNumber" minOccurs="0"/>
			<xs:element ref="ous:titleOfComponent" minOccurs="0"/>
			<xs:element ref="ous:bibliographicLevel" minOccurs="0"/>
			<xs:element ref="ous:sponsoringBody" minOccurs="0"/>
			<xs:element ref="ous:electronicDataFormatType" minOccurs="0"/>
			<xs:element ref="ous:language" minOccurs="0"/>
			<xs:element ref="ous:mediumType" minOccurs="0"/>
			<xs:element ref="ous:publicationDate" minOccurs="0"/>
			<xs:element ref="ous:title" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="getUserStatusErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="authentication_error"/>
			<xs:enumeration value="Service unavailable"/>
			<xs:enumeration value="Element rule violated"/>
			<xs:enumeration value="Unknown user"/>
			<xs:enumeration value="User access denied"/>
			<xs:enumeration value="User authentification failed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="renewLoanErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="authentication_error"/>
			<xs:enumeration value="Service unavailable"/>
			<xs:enumeration value="Element rule violated"/>
			<xs:enumeration value="Unknown user"/>
			<xs:enumeration value="User authentification failed"/>
			<xs:enumeration value="User blocked"/>
			<xs:enumeration value="Unknown item"/>
			<xs:enumeration value="Item not checked out"/>
			<xs:enumeration value="Item not renewable"/>
			<xs:enumeration value="Maximum renewals exceeded"/>
			<xs:enumeration value="Renewal not allowed - item has outstanding requests"/>
			<xs:enumeration value="User inegible to remove this item"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cancelOrderErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="authentication_error"/>
			<xs:enumeration value="Service unavailable"/>
			<xs:enumeration value="Element rule violated"/>
			<xs:enumeration value="Unknown user"/>
			<xs:enumeration value="User access denied"/>
			<xs:enumeration value="User authentification failed"/>
			<xs:enumeration value="Unknown order"/>
			<xs:enumeration value="Request already processed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="updateOrderErrorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="authentication_error"/>
			<xs:enumeration value="Service unavailable"/>
			<xs:enumeration value="Element rule violated"/>
			<xs:enumeration value="Unknown user"/>
			<xs:enumeration value="User access denied"/>
			<xs:enumeration value="User authentification failed"/>
			<xs:enumeration value="Unknown order"/>
			<xs:enumeration value="Request already processed"/>
			<xs:enumeration value="Unknown pickUpAgency"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="In process"/>
			<xs:enumeration value="Available for pickup"/>
			<xs:enumeration value="Expired"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="orderTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Estimate"/>
			<xs:enumeration value="Hold"/>
			<xs:enumeration value="Loan"/>
			<xs:enumeration value="Non-returnable Copy"/>
			<xs:enumeration value="Stack Retrieval"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="outputTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The types of output that can be returned by the service.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="xml"/>
			<xs:enumeration value="json"/>
			<xs:enumeration value="php"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
